<div class="section section-project cd-section" id="projects">

<!--     *********    PROJECTS 1     *********      -->

    <div class="projects-1">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Some of Our Awesome Products - 1</h2>
                    <h5 class="description"> This is the paragraph where you can write more details about your projects. Keep you user engaged by providing meaningful information.</h5>
                </div>
                <div class="project-pills">
                    <ngb-tabset type="pills" class="nav nav-pills nav-pills-danger justify-content-center">
                        <ngb-tab title="All categories">
                            <ng-template ngbTabContent>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Marketing">
                            <ng-template ngbTabContent>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Development">
                            <ng-template ngbTabContent>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Productivity">
                            <ng-template ngbTabContent>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Web Design">
                            <ng-template ngbTabContent>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
            <div class="space-top"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card" data-background="image" style="background-image: url('assets/img/sections/joshua-stannard.jpg')" (click)="openScrollableContent(longContent)">
                        <div class="card-body">
                            <h6 class="card-category" (click)="openScrollableContent(longContent)">Productivy Apps</h6>
                            <a href="javascript:void(0)" (click)="openScrollableContent(longContent)">
                                <h3 class="card-title">MateLabs mixes machine</h3>
                            </a>
                            <p class="card-description">
                                If you’re not familiar with IFTTT, it’s an automation tool for creating your own if/then statements without any programming knowledge. The service makes it possible...
                            </p>
                            <br/>
                            <a href="javascript:void(0)" class="btn btn-info btn-round">
                                <i class="fa fa-book" aria-hidden="true"></i> Read Article
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" data-background="image" style="background-image: url('assets/img/sections/joshua-stannard.jpg')">
                        <div class="card-body">
                            <h6 class="card-category">Productivy Apps</h6>
                            <a href="javascript:void(0)">
                                <h3 class="card-title">MateLabs mixes machine</h3>
                            </a>
                            <p class="card-description">
                                If you’re not familiar with IFTTT, it’s an automation tool for creating your own if/then statements without any programming knowledge. The service makes it possible...
                            </p>
                            <br/>
                            <a href="javascript:void(0)" class="btn btn-info btn-round">
                                <i class="fa fa-book" aria-hidden="true"></i> Read Article
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" data-background="image" style="background-image: url('assets/img/sections/joshua-stannard.jpg')">
                        <div class="card-body">
                            <h6 class="card-category">Productivy Apps</h6>
                            <a href="javascript:void(0)">
                                <h3 class="card-title">MateLabs mixes machine</h3>
                            </a>
                            <p class="card-description">
                                If you’re not familiar with IFTTT, it’s an automation tool for creating your own if/then statements without any programming knowledge. The service makes it possible...
                            </p>
                            <br/>
                            <a href="javascript:void(0)" class="btn btn-info btn-round">
                                <i class="fa fa-book" aria-hidden="true"></i> Read Article
                            </a>
                        </div>
                    </div>
                </div>
            </div>
           <div class="row">
                <div class="col-md-4">
                    <div class="card" data-background="image" style="background-image: url('assets/img/sections/joshua-stannard.jpg')">
                        <div class="card-body">
                            <h6 class="card-category">Productivy Apps</h6>
                            <a href="javascript:void(0)">
                                <h3 class="card-title">MateLabs mixes machine</h3>
                            </a>
                            <p class="card-description">
                                If you’re not familiar with IFTTT, it’s an automation tool for creating your own if/then statements without any programming knowledge. The service makes it possible...
                            </p>
                            <br/>
                            <a href="javascript:void(0)" class="btn btn-info btn-round">
                                <i class="fa fa-book" aria-hidden="true"></i> Read Article
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" data-background="image" style="background-image: url('assets/img/sections/joshua-stannard.jpg')">
                        <div class="card-body">
                            <h6 class="card-category">Productivy Apps</h6>
                            <a href="javascript:void(0)">
                                <h3 class="card-title">MateLabs mixes machine</h3>
                            </a>
                            <p class="card-description">
                                If you’re not familiar with IFTTT, it’s an automation tool for creating your own if/then statements without any programming knowledge. The service makes it possible...
                            </p>
                            <br/>
                            <a href="javascript:void(0)" class="btn btn-info btn-round">
                                <i class="fa fa-book" aria-hidden="true"></i> Read Article
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" data-background="image" style="background-image: url('assets/img/sections/joshua-stannard.jpg')">
                        <div class="card-body">
                            <h6 class="card-category">Productivy Apps</h6>
                            <a href="javascript:void(0)">
                                <h3 class="card-title">MateLabs mixes machine</h3>
                            </a>
                            <p class="card-description">
                                If you’re not familiar with IFTTT, it’s an automation tool for creating your own if/then statements without any programming knowledge. The service makes it possible...
                            </p>
                            <br/>
                            <a href="javascript:void(0)" class="btn btn-info btn-round">
                                <i class="fa fa-book" aria-hidden="true"></i> Read Article
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card" data-background="image" style="background-image: url('assets/img/sections/joshua-stannard.jpg')">
                        <div class="card-body">
                            <h6 class="card-category">Productivy Apps</h6>
                            <a href="javascript:void(0)">
                                <h3 class="card-title">MateLabs mixes machine</h3>
                            </a>
                            <p class="card-description">
                                If you’re not familiar with IFTTT, it’s an automation tool for creating your own if/then statements without any programming knowledge. The service makes it possible...
                            </p>
                            <br/>
                            <a href="javascript:void(0)" class="btn btn-info btn-round">
                                <i class="fa fa-book" aria-hidden="true"></i> Read Article
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" data-background="image" style="background-image: url('assets/img/sections/joshua-stannard.jpg')">
                        <div class="card-body">
                            <h6 class="card-category">Productivy Apps</h6>
                            <a href="javascript:void(0)">
                                <h3 class="card-title">MateLabs mixes machine</h3>
                            </a>
                            <p class="card-description">
                                If you’re not familiar with IFTTT, it’s an automation tool for creating your own if/then statements without any programming knowledge. The service makes it possible...
                            </p>
                            <br/>
                            <a href="javascript:void(0)" class="btn btn-info btn-round">
                                <i class="fa fa-book" aria-hidden="true"></i> Read Article
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" data-background="image" style="background-image: url('assets/img/sections/joshua-stannard.jpg')">
                        <div class="card-body">
                            <h6 class="card-category">Productivy Apps</h6>
                            <a href="javascript:void(0)">
                                <h3 class="card-title">MateLabs mixes machine</h3>
                            </a>
                            <p class="card-description">
                                If you’re not familiar with IFTTT, it’s an automation tool for creating your own if/then statements without any programming knowledge. The service makes it possible...
                            </p>
                            <br/>
                            <a href="javascript:void(0)" class="btn btn-info btn-round">
                                <i class="fa fa-book" aria-hidden="true"></i> Read Article
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card" data-background="image" style="background-image: url('assets/img/sections/joshua-stannard.jpg')">
                        <div class="card-body">
                            <h6 class="card-category">Productivy Apps</h6>
                            <a href="javascript:void(0)">
                                <h3 class="card-title">MateLabs mixes machine</h3>
                            </a>
                            <p class="card-description">
                                If you’re not familiar with IFTTT, it’s an automation tool for creating your own if/then statements without any programming knowledge. The service makes it possible...
                            </p>
                            <br/>
                            <a href="javascript:void(0)" class="btn btn-info btn-round">
                                <i class="fa fa-book" aria-hidden="true"></i> Read Article
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" data-background="image" style="background-image: url('assets/img/sections/joshua-stannard.jpg')">
                        <div class="card-body">
                            <h6 class="card-category">Productivy Apps</h6>
                            <a href="javascript:void(0)">
                                <h3 class="card-title">MateLabs mixes machine</h3>
                            </a>
                            <p class="card-description">
                                If you’re not familiar with IFTTT, it’s an automation tool for creating your own if/then statements without any programming knowledge. The service makes it possible...
                            </p>
                            <br/>
                            <a href="javascript:void(0)" class="btn btn-info btn-round">
                                <i class="fa fa-book" aria-hidden="true"></i> Read Article
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" data-background="image" style="background-image: url('assets/img/sections/joshua-stannard.jpg')">
                        <div class="card-body">
                            <h6 class="card-category">Productivy Apps</h6>
                            <a href="javascript:void(0)">
                                <h3 class="card-title">MateLabs mixes machine</h3>
                            </a>
                            <p class="card-description">
                                If you’re not familiar with IFTTT, it’s an automation tool for creating your own if/then statements without any programming knowledge. The service makes it possible...
                            </p>
                            <br/>
                            <a href="javascript:void(0)" class="btn btn-info btn-round">
                                <i class="fa fa-book" aria-hidden="true"></i> Read Article
                            </a>
                        </div>
                    </div>
                </div>
            </div>
    </div>


    <!--     *********    PROJECTS 2     *********      -->

    <!--     *********    PROJECTS 3     *********      -->  

    <!--     *********    PROJECTS 4     *********      -->
</div>
<ng-template #longContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Modal title</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="row"><div class="col-md-12">
            <img src='assets/img/sections/soroush-karimi.jpg'/>
        </div></div>
        <div class="row">
            <div class="col-md-12">
                <p>hahaah</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>