<div class="section section-project cd-section" id="projects">

<!--     *********    PROJECTS 1     *********      -->

    <div class="projects-1">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Some of Our Awesome Products - 1</h2>
                    <h5 class="description"> This is the paragraph where you can write more details about your projects. Keep you user engaged by providing meaningful information.</h5>
                </div>
                <div class="project-pills">
                    <ngb-tabset (tabChange)="onSelect($event)" type="pills" *ngIf="categories" class="nav nav-pills nav-pills-danger justify-content-center">
                        <ngb-tab id="all"  title= "All" >
                            <ng-template ngbTabContent>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab id="{{cat._id}}" *ngFor="let cat of categories | async" title= "{{cat.title}}" >
                            <ng-template ngbTabContent>
                            </ng-template>
                        </ngb-tab>
                       
                    </ngb-tabset>
                </div>
            </div>
            <div class="space-top"></div>
        
        <div *ngFor="let cat of categories | async" class="container">

            <div *ngIf="selectedCategorie == cat._id || selectedCategorie == 'all'" class="title">
                <h3>{{cat.title}}</h3>
            </div>
            <div class="row" *ngIf="selectedCategorie == cat._id || selectedCategorie == 'all'">

                <div *ngFor="let item of cat.items" class="col-md-4">
                    <div class="card" data-background="image" style="background-image: url('assets/img/sections/joshua-stannard.jpg')" (click)="openScrollableContent(item)">
                        <div class="card-body">
                            <h6 class="card-category" (click)="openScrollableContent(item)"></h6>
                            <a href="javascript:void(0)" (click)="openScrollableContent(item)">
                                <h3 class="card-title"> {{item.title}} </h3>
                            </a>
                            <p class="card-description">
                                {{item.description}}
                            </p>
                            <br/>
                            <a href="javascript:void(0)" class="btn btn-info btn-round">
                                <i class="fa fa-money" aria-hidden="true"></i> {{item.price_info.price }} £
                            </a>
                        </div>
                    </div>
                </div>
             
            </div>
         
    </div>


    <!--     *********    PROJECTS 2     *********      -->

    <!--     *********    PROJECTS 3     *********      -->  

    <!--     *********    PROJECTS 4     *********      -->
</div>
